fastapi
uvicorn
sqlalchemy
spacy
pydantic
python-dotenv
gradio
spacy
transformers
spacy
https://github.com/explosion/spacy-models/releases/download/xx_ent_wiki_sm-3.5.0/xx_ent_wiki_sm-3.5.0.tar.gz
https://github.com/explosion/spacy-models/releases/download/xx_ent_wiki_sm-3.5.0/xx_ent_wiki_sm-3.5.0.tar.gz
